In [46]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.ticker import PercentFormatter
import numpy as np
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

### Read data from the combined parquet files.

In [47]:
df = pd.read_parquet("tripdata_combined.parquet").sample(frac=0.10, random_state=42) # Sample 10% of points to save on storage
print(df.head().to_markdown())

|         |   VendorID | tpep_pickup_datetime   | tpep_dropoff_datetime   |   passenger_count |   trip_distance |   RatecodeID | store_and_fwd_flag   |   PULocationID |   DOLocationID |   payment_type |   fare_amount |   extra |   mta_tax |   tip_amount |   tolls_amount |   improvement_surcharge |   total_amount |   congestion_surcharge |   airport_fee |   Airport_fee |
|--------:|-----------:|:-----------------------|:------------------------|------------------:|----------------:|-------------:|:---------------------|---------------:|---------------:|---------------:|--------------:|--------:|----------:|-------------:|---------------:|------------------------:|---------------:|-----------------------:|--------------:|--------------:|
| 3146451 |          2 | 2023-10-29 17:34:16    | 2023-10-29 17:45:31     |                 1 |            0.88 |            1 | N                    |            164 |            137 |              1 |          11.4 |     0   |       0.5 |         3.08 |              0 |                       1 |          18.48 |                    2.5 |           nan |          0    |
| 2682438 |          2 | 2023-05-24 15:05:43    | 2023-05-24 15:19:59     |                 3 |            1.3  |            1 | N                    |            161 |            237 |              4 |          12.8 |     0   |       0.5 |         0    |              0 |                       1 |          16.8  |                    2.5 |           nan |          0    |
| 1853622 |          2 | 2023-08-21 19:22:58    | 2023-08-21 19:45:14     |                 1 |           11.52 |            1 | N                    |            138 |            209 |              1 |          46.4 |     7.5 |       0.5 |        11.58 |              0 |                       1 |          71.23 |                    2.5 |           nan |          1.75 |
|  961625 |          2 | 2024-06-09 21:50:11    | 2024-06-09 22:33:07     |                 2 |           16.7  |            2 | N                    |            132 |            229 |              1 |          70   |     0   |       0.5 |        10    |              0 |                       1 |          85.75 |                    2.5 |           nan |          1.75 |
| 1350186 |          2 | 2023-09-14 13:58:12    | 2023-09-14 14:54:26     |                 1 |            3.34 |            1 | N                    |            186 |            140 |              1 |          43.6 |     0   |       0.5 |         9.52 |              0 |                       1 |          57.12 |                    2.5 |           nan |          0    |

In [48]:
df.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,Airport_fee
count,2.300000e+06,2300000,2300000,2.151064e+06,2.300000e+06,2.151064e+06,2.300000e+06,2.300000e+06,2.300000e+06,2.300000e+06,2.300000e+06,2.300000e+06,2.300000e+06,2.300000e+06,2.300000e+06,2.300000e+06,2.151064e+06,97773.000000,2.053291e+06
mean,1.750393e+00,2023-12-16 09:20:43.986089,2023-12-16 09:38:07.116801,1.353481e+00,4.239470e+00,1.961679e+00,1.646753e+02,1.637547e+02,1.148153e+00,1.933486e+01,1.476817e+00,4.830315e-01,3.408700e+00,5.764747e-01,9.719633e-01,2.808585e+01,2.249244e+00,0.106727,1.458230e-01
min,1.000000e+00,2001-01-01 00:28:40,2001-01-01 01:11:09,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-9.990000e+02,-7.500000e+00,-5.000000e-01,-8.000000e+01,-7.100000e+01,-1.000000e+00,-1.000000e+03,-2.500000e+00,-1.250000,-1.750000e+00
25%,1.000000e+00,2023-06-22 21:54:16.750000,2023-06-22 22:08:50,1.000000e+00,1.030000e+00,1.000000e+00,1.320000e+02,1.130000e+02,1.000000e+00,9.300000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.580000e+01,2.500000e+00,0.000000,0.000000e+00
50%,2.000000e+00,2023-12-14 18:52:07.500000,2023-12-14 19:12:13.500000,1.000000e+00,1.780000e+00,1.000000e+00,1.610000e+02,1.620000e+02,1.000000e+00,1.350000e+01,1.000000e+00,5.000000e-01,2.720000e+00,0.000000e+00,1.000000e+00,2.100000e+01,2.500000e+00,0.000000,0.000000e+00
75%,2.000000e+00,2024-06-07 23:33:09,2024-06-07 23:50:19.750000,1.000000e+00,3.400000e+00,1.000000e+00,2.330000e+02,2.340000e+02,1.000000e+00,2.190000e+01,2.500000e+00,5.000000e-01,4.300000e+00,0.000000e+00,1.000000e+00,3.060000e+01,2.500000e+00,0.000000,0.000000e+00
max,6.000000e+00,2024-11-30 23:59:25,2024-12-01 13:14:59,9.000000e+00,1.298718e+05,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,2.997760e+03,1.425000e+01,1.005000e+01,4.805000e+02,2.700000e+02,1.000000e+00,3.012450e+03,2.500000e+00,1.250000,1.750000e+00
std,4.359384e-01,NaN,NaN,8.600717e-01,2.344735e+02,9.249702e+00,6.418539e+01,6.971409e+01,6.028825e-01,1.912963e+01,1.831680e+00,1.186797e-01,4.101854e+00,2.215643e+00,2.264080e-01,2.384616e+01,8.332922e-01,0.354580,4.905044e-01

In [49]:
for col in df:
    print(col, ":", df[col].isna().sum(), "null values")

VendorID : 0 null values
tpep_pickup_datetime : 0 null values
tpep_dropoff_datetime : 0 null values
passenger_count : 148936 null values
trip_distance : 0 null values
RatecodeID : 148936 null values
store_and_fwd_flag : 148936 null values
PULocationID : 0 null values
DOLocationID : 0 null values
payment_type : 0 null values
fare_amount : 0 null values
extra : 0 null values
mta_tax : 0 null values
tip_amount : 0 null values
tolls_amount : 0 null values
improvement_surcharge : 0 null values
total_amount : 0 null values
congestion_surcharge : 148936 null values
airport_fee : 2202227 null values
Airport_fee : 246709 null values

In [50]:
# Remove all cols with null values 
df = df.dropna(axis=1)

In [51]:
# Convert all dates to float types, so that they can be scaled.
df['tpep_pickup_datetime'] = df['tpep_pickup_datetime'].values.astype(np.float64)
df['tpep_dropoff_datetime'] = df['tpep_dropoff_datetime'].values.astype(np.float64)

In [52]:
print(df.head().to_markdown())

|         |   VendorID |   tpep_pickup_datetime |   tpep_dropoff_datetime |   trip_distance |   PULocationID |   DOLocationID |   payment_type |   fare_amount |   extra |   mta_tax |   tip_amount |   tolls_amount |   improvement_surcharge |   total_amount |
|--------:|-----------:|-----------------------:|------------------------:|----------------:|---------------:|---------------:|---------------:|--------------:|--------:|----------:|-------------:|---------------:|------------------------:|---------------:|
| 3146451 |          2 |            1.6986e+15  |             1.6986e+15  |            0.88 |            164 |            137 |              1 |          11.4 |     0   |       0.5 |         3.08 |              0 |                       1 |          18.48 |
| 2682438 |          2 |            1.68494e+15 |             1.68494e+15 |            1.3  |            161 |            237 |              4 |          12.8 |     0   |       0.5 |         0    |              0 |                       1 |          16.8  |
| 1853622 |          2 |            1.69265e+15 |             1.69265e+15 |           11.52 |            138 |            209 |              1 |          46.4 |     7.5 |       0.5 |        11.58 |              0 |                       1 |          71.23 |
|  961625 |          2 |            1.71797e+15 |             1.71797e+15 |           16.7  |            132 |            229 |              1 |          70   |     0   |       0.5 |        10    |              0 |                       1 |          85.75 |
| 1350186 |          2 |            1.6947e+15  |             1.6947e+15  |            3.34 |            186 |            140 |              1 |          43.6 |     0   |       0.5 |         9.52 |              0 |                       1 |          57.12 |

In [53]:
print(df.shape)

(2300000, 14)

### Test Regression Models

In [54]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsRegressor
from sklearn.cluster import KMeans
from sklearn.linear_model import LinearRegression
from xgboost import XGBRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, explained_variance_score
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline

In [55]:
# Create, scale, and split data

target = 'tip_amount'
X = df.drop(columns=[target])
y = df[target]

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled = pd.DataFrame(X_scaled, columns=X.columns, index=X.index)

# Split data for 80% training,, 20% test 
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [56]:
# Define all models and their parameter grids
models = {
    'KNeighborsRegressor': {
        'model': KNeighborsRegressor(),
        'param_grid': {
            'model__n_neighbors': [3, 5, 7],
            'model__weights': ['uniform', 'distance'],
            'model__algorithm': ['auto', 'ball_tree', 'kd_tree']
        }
    },
    'KMeansRegression': {
        'model': KMeans(),
        'param_grid': {
            'model__n_clusters': [5, 10, 15],
            'model__init': ['k-means++', 'random'],
            'model__n_init': [5, 10]
        }
    },
    'LinearRegression': {
        'model': LinearRegression(),
        'param_grid': {
            'model__fit_intercept': [True, False],
            'model__n_jobs': [-1]
        }
    },
    'XGBoostRegressor': {
        'model': XGBRegressor(random_state=42),
        'param_grid': {
            'model__n_estimators': [100, 200],
            'model__max_depth': [3, 6],
            'model__learning_rate': [0.01, 0.1],
            'model__subsample': [0.8, 1.0]
        }
    },
    'SVR': {
        'model': SVR(),
        'param_grid': {
            'model__kernel': ['linear', 'rbf', 'poly'],
            'model__C': [0.1, 1, 10],
            'model__epsilon': [0.01, 0.1]
        }
    },
    'Random Forest' : {
        'model' : RandomForestRegressor(random_state=42),
        'param_grid' : {
            'model__n_estimators': [100, 200],
            'model__max_depth': [None],
            'model__min_samples_split': [5, 10],
            'model__max_features': ['sqrt'],
            'model__n_jobs': [-1] 
        }
    }
}

In [57]:
# Dictionary to store best parameters
best_params = {}
performances = {}

for name, config in models.items():
    print(f"\n=== Tuning {name} ===")
    
    # Create pipeline
    pipeline = Pipeline([
        ('scaler', StandardScaler()),
        ('model', config['model'])
    ])
    
    # Grid search with reduced CV folds for speed
    search = GridSearchCV(
        pipeline,
        config['param_grid'],
        cv=5,
        scoring='neg_mean_squared_error',
        n_jobs=-1,
        verbose=3
    )
    
    # Fit on a subset of data for demonstration
    search.fit(X_train[:5000], y_train[:5000])  # Use full data in production
    
    # Store best parameters
    best_params[name] = search.best_params_
    
    test_pred = search.predict(X_test)
    test_rmse = np.sqrt(mean_squared_error(y_test, test_pred))
    test_r2 = r2_score(y_test, test_pred)
    test_mae = mean_absolute_error(y_test, test_pred)
    test_evs = explained_variance_score(y_test, test_pred)

    performances[name] = {
        'RMSE': test_rmse,
        'R²': test_r2,
        'Mean Absolute Error': test_mae,
        'Explained Variance Score': test_evs
    }
    
    print(f"Best parameters for {name}: {search.best_params_}")

=== Tuning KNeighborsRegressor ===
Fitting 5 folds for each of 18 candidates, totalling 90 fits
Best parameters for KNeighborsRegressor: {'model__algorithm': 'auto', 'model__n_neighbors': 7, 'model__weights': 'distance'}

=== Tuning KMeansRegression ===
Fitting 5 folds for each of 12 candidates, totalling 60 fits
Best parameters for KMeansRegression: {'model__init': 'k-means++', 'model__n_clusters': 5, 'model__n_init': 5}

=== Tuning LinearRegression ===
Fitting 5 folds for each of 2 candidates, totalling 10 fits
Best parameters for LinearRegression: {'model__fit_intercept': True, 'model__n_jobs': -1}

=== Tuning XGBoostRegressor ===
Fitting 5 folds for each of 16 candidates, totalling 80 fits
Best parameters for XGBoostRegressor: {'model__learning_rate': 0.1, 'model__max_depth': 6, 'model__n_estimators': 200, 'model__subsample': 1.0}

=== Tuning SVR ===
Fitting 5 folds for each of 18 candidates, totalling 90 fits
Best parameters for SVR: {'model__C': 1, 'model__epsilon': 0.1, 'model__kernel': 'linear'}

=== Tuning Random Forest ===
Fitting 5 folds for each of 4 candidates, totalling 20 fits
Best parameters for Random Forest: {'model__max_depth': None, 'model__max_features': 'sqrt', 'model__min_samples_split': 5, 'model__n_estimators': 200, 'model__n_jobs': -1}

In [58]:
# Print all best parameters
for name, params in best_params.items():
    print(f"\n=== {name} Optimal Parameters Found ===")
    for param, value in params.items():
        print(f"  {param}: {value}")
    print()

    # Output results
    print("\nTest Set Performance: ")
    for score in performances[name]:
        print(f"{score}: {performances[name][score]:.4f}")

=== KNeighborsRegressor Optimal Parameters Found ===
  model__algorithm: auto
  model__n_neighbors: 7
  model__weights: distance


Test Set Performance:
RMSE: 2.4550
R²: 0.6302
Mean Absolute Error: 1.2577
Explained Variance Score: 0.6303

=== KMeansRegression Optimal Parameters Found ===
  model__init: k-means++
  model__n_clusters: 5
  model__n_init: 5


Test Set Performance:
RMSE: 4.7992
R²: -0.4134
Mean Absolute Error: 2.9125
Explained Variance Score: -0.3337

=== LinearRegression Optimal Parameters Found ===
  model__fit_intercept: True
  model__n_jobs: -1


Test Set Performance:
RMSE: 2.9052
R²: 0.4821
Mean Absolute Error: 0.3072
Explained Variance Score: 0.4821

=== XGBoostRegressor Optimal Parameters Found ===
  model__learning_rate: 0.1
  model__max_depth: 6
  model__n_estimators: 200
  model__subsample: 1.0


Test Set Performance:
RMSE: 1.4188
R²: 0.8765
Mean Absolute Error: 0.4676
Explained Variance Score: 0.8765

=== SVR Optimal Parameters Found ===
  model__C: 1
  model__epsilon: 0.1
  model__kernel: linear


Test Set Performance:
RMSE: 3.0657
R²: 0.4232
Mean Absolute Error: 0.2525
Explained Variance Score: 0.4233

=== Random Forest Optimal Parameters Found ===
  model__max_depth: None
  model__max_features: sqrt
  model__min_samples_split: 5
  model__n_estimators: 200
  model__n_jobs: -1


Test Set Performance:
RMSE: 1.7915
R²: 0.8030
Mean Absolute Error: 0.7933
Explained Variance Score: 0.8031

### Test Baseline Simple Model
(Simply Guesses Average Tip)

In [59]:
all_data = pd.read_parquet('tripdata_combined.parquet')
baseline_val = np.average(all_data['tip_amount'])
test_pred = [baseline_val] * len(y_test)


test_rmse = np.sqrt(mean_squared_error(y_test, test_pred))
test_r2 = r2_score(y_test, test_pred)
test_mae = mean_absolute_error(y_test, test_pred)
test_evs = explained_variance_score(y_test, test_pred)

print("Simple Model Test Set Performance: ")
print(f"RMSE: {test_rmse:.4f}")
print(f"R²: {test_r2:.4f}")
print(f"MAE: {test_mae:.4f}")
print(f"Explained Variance Score: {test_evs:.4f}")

Simple Model Test Set Performance:
RMSE: 4.0368
R²: -0.0000
MAE: 2.6029
Explained Variance Score: 0.0000